@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Space+Mono:wght@400;700&display=swap');

body, aside, .sidebar-left, .sidebar-right {
    background-color: #FFFFFF; /* Fond blanc pour le corps et les barres latérales */
}

.title {
    font-family: 'Space Mono', monospace;
    color: #D50000; 
}

.record-title, h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', monospace;
    color: #D50000; /* Rouge pour les titres et sous-titres */
}

p {
    font-family: 'Bitter', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    background-color: #FFFFFF; /* Fond blanc pour les paragraphes */
    padding: 15px;
    border: 1px solid #ddd;
    margin: 20px 0;
    text-align: justify;
    hyphens: auto;
}

button, .btn {
    background-color: #008578;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 5px 10px;
    transition: all 0.1s ease;
}

button:hover {
    background-color: #006D64;
    transition: none;
}

aside.menu header:before {
    background-image: url('./images/logo-departement.png'); /* Ajustez ce chemin */
    display: inline-block;
    height: 70px;
    width: 100px;
    background-size: 100px 70px;
    background-repeat: no-repeat;
}

aside.menu header {
    display: flex;
    align-items: center;
    justify-content: center;
}

article.record header {
    display: grid;
    gap: 0 1em;
    grid-template:
        "thumbnail title" auto
        "thumbnail type" auto
        "thumbnail kesako" auto
        "thumbnail link" auto
        "tags tags" auto;
#ID
    display: none;
}
/* Autres styles */
